.header {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;

    background-color: light-dark(
        var(--mantine-color-gray-2),
        var(--mantine-color-dark-6)
    );
    border-bottom: rem(1px) solid
        light-dark(var(--mantine-color-gray-2), transparent);
}
